<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="../../framework/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../framework/reset.css" rel="stylesheet">
		<link href="../../css/businessInfo.css" rel="stylesheet">
<script src="../../js/react.development.js"></script>
<script src="../../js/react-dom.development.js"></script>
<script src="../../js/babel.min.js"></script>
<script src="../../js/axios.min.js"></script>
		<title>饿了么 商家信息</title>
	</head>
	<body>
		<div class="wrapper">
			
			<!-- header部分 -->
			<header>
				<p>商家信息</p>
			</header>
			
			<!-- 商家logo部分 -->
			<div class="business-logo">
				<img th:src="${data.businessImg}">
			</div>
			
			<!-- 商家信息部分 -->
			<div class="business-info">
				<h1>[[${data.businessName}]]</h1>
				<p>&#165;[[${data.starPrice}]]起送 &#165;[[${data.deliveryPrice}]]配送</p>
				<p>[[${data.businessExplain}]]</p>
			</div>
			
			<!-- 食品列表部分 -->
			<div class="food" id="foods"></div>

			<!-- 购物车部分 -->
			<div class="cart">
				<div class="cart-left" id="cart-left"></div>
				<div class="cart-right">
					<!-- 不够起送费 -->
					<!--
					<div class="cart-right-item">
						&#165;15起送
					</div>
					-->
					<!-- 达到起送费 -->
					<div class="cart-right-item" onclick="location.href='order.html'">
					    去结算
					</div>
				</div>
			</div>
		</div>
<script th:inline="javascript" type="text/babel">
function FoodLi(props) {
	const listItems = props.foods.map((food) =>
		<li key={food.foodId}>
			<div className="food-left">
			  <img src={food.foodImg}/>
			  <div className="food-left-info">
				<h3>{food.foodName}</h3>
				<p>{food.foodExplain}</p>
				<p>&#165;{food.foodPrice}</p>
			  </div>
			</div>
			<div className="food-right">
			  <div>
			  	<i className="fa fa-minus-circle"></i>
			  </div>
			  <p><span>3</span></p>
			  <div>
				<i className="fa fa-plus-circle"></i>
			  </div>
			</div>
		</li>
    );
	return (
		<ul>{listItems}</ul>
	)
}
axios.post('../foods/[[${data.businessId}]]').then(function (response) {
	console.log(response);

	ReactDOM.render(
    	<FoodLi foods={response.data} />,
    	document.getElementById('foods')
	); 
}).catch(function (error) {
	console.log(error);
});
</script>

<script type="text/babel">
function CartInfo(props) {
	return (
	  <div>
		<div className="cart-left-icon">
			<i className="fa fa-shopping-cart"></i>
			<div className="cart-left-icon-quantity">{props.num}</div>
		</div>
		<div className="cart-left-info">
			<p>&#165;{props.totalFee}</p>
			<p>另需配送费{props.deliveryPrice}元</p>
		</div>
	  </div>
	)
}
ReactDOM.render(
    <CartInfo num="3" totalFee="18.20" deliveryPrice="5" />,
    document.getElementById('cart-left')
); 
</script>
	</body>
</html>
